@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Text:wght@500&family=Festive&family=Lobster+Two:wght@400;700&family=Roboto+Mono&family=Sirin+Stencil&family=Splash&family=Stylish&family=Supermercado+One&family=Ubuntu:wght@300;500;700&display=swap');

@mixin flexcenter {
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-behavior: smooth;
}


.light{
  --bg2:rgb(212, 255, 254);
  --bg:rgb(254, 184, 255);
  --black:white;
  --white:black;
  --white2:rgba(0, 0, 0,0.8);
}
.dark{
  --bg2:rgb(0, 44, 67);
  --bg:rgb(0, 0, 0);
  --black:black;
  --white:white;
  --white2:rgba(255, 255, 255, 0.9);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Supermercado One', cursive;
  overflow-X: hidden;
  transition: all 0.2s ease-in;
  text-decoration: none
}
.App{
  @include flexcenter;
  flex-wrap: wrap;
  min-height: 100vh;
  width: 100vw;
  background: radial-gradient(circle at top,var(--bg),var(--bg2));
  // color: white;



  .arrow1{
    @extend .arrow2;
    bottom: 7rem !important;
    display: none;
  }
  .arrow2{
    color: var(--white);
    position: fixed;
    bottom: 4rem;
    right: 1rem;
    font-size: 2rem;
    cursor: pointer;
    &:hover{
      color: orange;
    }
  }

  h1{
    @include flexcenter;
    justify-content: flex-start;
    width: 100%;
    margin: 1rem 1rem;
    font:1.5rem "Ubuntu",sans-serif;
    font-weight: 900;
    color: var(--white);
    hr{
      width: 50%;
      margin-left: 1rem;
      border: 1.5px solid var(--white);
      background: var(--white);
      border-radius:1rem;
    }
  }
  .info{
    margin: 0.3rem 2rem;
    color: rgb(84, 110, 162);
  }

  .restCard{
    @extend .App;
    background: transparent !important;

    .flex2{
      @include flexcenter;
      height: 20vh;
      // justify-content: space-evenly !important;
      flex-direction: column;
      svg{
        margin-top: 2rem;
        font-size: 3rem;
        color: var(--white);
      }
    }

    .sectionWrap{
      width: 100%;
      margin: 1rem 0;
    }
    .sectionType2{
      display: grid;
      grid-template-columns: repeat(20,auto);
      // place-content: center;
      place-items: center;
      overflow-x: scroll !important;
      .card2{
        @extend .card;
        min-height: unset !important;
        height: 15rem !important;
        width: 25rem!important;
        position: relative;
        padding: 0 !important;
        .image{
          height: 100% !important;
          object-fit: cover;
          object-position: 0 0;
        }
        .data{
          background: radial-gradient(circle at bottom left, rgba(0, 0, 0,0.85),transparent);
          position: absolute;
          left: 0;
          bottom: 0;
          padding:2rem 1rem;
          height: 15rem !important;
          width: 100%;
          font-size:1.5rem;
          justify-content: flex-start !important;
          align-items: flex-end !important;
          color: white !important;
        }
        &:hover .image{
          object-position: center center;
        }
      }

      
      
    }
    .popularSection{
      @extend .App;
      background: transparent !important;
      min-height: 80vh !important;
      height:80vh;
      overflow-y: scroll !important;

      ::-webkit-scrollbar{
        width:1vw;
      }
      ::-webkit-scrollbar-thumb{
        background: gray;
      }
      ::-webkit-scrollbar-track{
        background:black ;
      }
    }
    .searchSection{
      @extend .App;
      min-height: 80vh !important;
      height:auto;
      

      h2{
        @extend h1;
        width: 100%;
        justify-content: center !important;
        font-size: 1rem !important;
        text-align: center !important;
      }
    }
  }

  .card{
    @include flexcenter;
    background: var(--white2);
    margin: 1rem 1rem;
    border-radius: 0.5rem;
    height: 25rem;
    width:17rem;
    cursor: pointer;
    box-shadow:2px 2px 10px black;
    position: relative;
    overflow: hidden;

    .image{
      height: 25rem;
      width: 100%;
    }
    .data{
      @include flexcenter;
      background: radial-gradient(circle at bottom left, rgba(0, 0, 0,0.85) 1%,transparent);
      position: absolute;
      left: 0;
      bottom: 0;
      padding:2rem 1rem;
      height: 25rem !important;
      width: 100%;
      font-size:1.3rem;
      justify-content: flex-start !important;
      align-items: flex-end !important;
      color: white !important;

      .title{
        height: 1lh;
        overflow: hidden;
        text-overflow: ellipsis;
        overflow-wrap: break-word;
        word-break: break-all;
      }

      .vote,.rd{
        position: absolute;
        left: 0;
        bottom: 0;
        padding:0.5rem 1rem;
        display: flex;
        font-size: 1rem;
        color: orange;
      }
      .rd{
        left: unset;
        right: 0;
        color: rgb(198, 198, 198);
        font-size: 0.9rem;
      }

      &:hover{
        background: radial-gradient(circle at bottom left, rgba(0, 0, 0,0.85) 10%,transparent);
      }
    }
  }
  .Selectedcard{
    @include flexcenter;
    background: var(--black);
    position: absolute;
    padding: 1rem;
    border-radius: 0.5rem;
    width:60%;
    height: 60%;
    overflow-y: hidden !important;

    .image{
      height: 110%;
      // width: 30%;
      margin: 1rem;
    }
    .data{
      height: 100%;
      @include flexcenter;
      align-items: flex-start !important;
      justify-content: space-evenly !important;
      flex-direction: column;
      max-width: 50%;
      color: var(--white);

      .title{
        color: orange;
        font-size: 1.5rem;
      }
    }
    .closebtn{
      position: absolute;
      top: 1rem;
      right: 1rem;
      font-size: 1.5rem;
      font-weight: bold;
      cursor: pointer;
      background: orange;
      color: var(--white);
      border-radius: 0.3rem;
      &:hover{
        color: orange;
        background: rgb(210, 210, 210);
      }
    }
    .link{
      position: absolute;
      bottom: 1rem;
      right: 1rem;
      font-size: 1rem;
      font-weight: bold;
      cursor: pointer;
      padding:0.5rem 1rem;
      background: orange;
      color: var(--white);
      border-radius: 0.3rem;
      &:hover{
        color: orange;
        background: rgb(210, 210, 210);
      }
    }
  }
  .footer{
    min-width: 90%;
    color: var(--white);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 1rem 0;

    .previous,.next{
      font-size: 1.5rem;
      cursor: pointer;

      &:hover{
        color: orange;
      }
    }
  }
  .appHeader{
    width: 100vw !important;
    @include flexcenter;
    justify-content:space-between !important;
    padding: 0.5rem 1rem;
    backdrop-filter: blur(0.5rem);
    border-bottom: 1px solid var(--white);
    box-shadow:1px 1px 10px gray;

    p{
      font-size:2.5rem;
      color:var(--white);
      margin-left: 1rem;
      font-family: 'Big Shoulders Stencil Text', cursive;
    }

    input{
      width: 30vw;
      padding: 0.5rem 1rem;
      outline: none;
      border: 1px solid var(--white);
      border-radius: 0.5rem;
    }
    .mode{
      color:var(--white);
      font-size: 1.5rem;
      margin-right: 1rem;
      cursor: pointer;
      &:hover{
        color:orange;
      }
    }
    
  }
  .talk{
    padding: 0.5rem;
    background-color: var(--white2);
    border-radius: 0.5rem;
    font-size: 0.8rem;
    color: var(--black);
    margin: 0.5rem 0;
  }
  .puejv{
    // padding: 3rem;
    .HoldableButton{
      padding: 5rem;
    }
  }
}

@media (max-width: 600px) {
  .App .card{
    width: 10rem;
    height: 15rem;
    margin: 0.5rem 0.5rem;
    .data{
      padding: 1rem 1rem;
      font-size:0.7rem;
      .vote{
        font-size:0.7rem;
        left: 1rem;
        padding: unset;
        bottom: 0;
      }
      .rd{
        right: 1rem;
        bottom: 0.2rem;
        padding: unset;
        font-size:0.5rem;
      }

    }
    .image{
      height: 15rem;
      width: 100%;
    }
  }
  .App .restCard .sectionType2 .card2{
    height: 10rem !important;
    width: 17rem!important;
    .data{
      background: radial-gradient(circle at bottom left, rgba(0, 0, 0,0.85),transparent);
      position: absolute;
      padding:1rem;
      height: 10rem !important;
      width: 100%;
      font-size: 1rem;
    }
  }
  .App>.Selectedcard{
    flex-direction: column;
    width:90% !important;
    height:85% !important;
    .image{
      height:50%;
      width: auto;
    }
    .data{
      max-width:90%;
    }
  }
  .puejv{
    display: none;
  }
  .appHeader{
    p{
      font-size:1rem !important;
      // margin-left: 0.5rem;
    }
    input{
      width: 50vw !important;
    }
  }
}

@media (min-width: 650px) {
  ::-webkit-scrollbar{
    display: none;
  }
  .App{
    ::-webkit-scrollbar{
      width:1vw;
    }
    ::-webkit-scrollbar-thumb{
      background: var(--white);
      border-radius: 0.2rem;
    }
    ::-webkit-scrollbar-thumb:hover{
      background: linear-gradient(to right, orange, var(--white));
      border-radius: 0.5rem;
    }
    ::-webkit-scrollbar-track{
      background: transparent;
    }
  }
  body{
    ::-webkit-scrollbar{
      width:1vw;
    }
    ::-webkit-scrollbar-thumb{
      background: var(--white);
      border-radius: 0.2rem;
    }
    ::-webkit-scrollbar-thumb:hover{
      background: linear-gradient(to bottom, orange, var(--white));
      border-radius: 0.5rem;
    }
    ::-webkit-scrollbar-track{
      background: transparent;
    }
  }
}